@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Start organizing your task and stay Productive!</p>
    <p>Get Started by creating your first to-do item.</p>
    <a href="/ToDoItems/Create" class="btn btn-primary">Create New To-Do Item</a>

</div>
