
<h1>Create New</h1>
<h5>ListItem</h5>
<hr />

<form action="/ToDoItems/CreateNew" method="post">
    <div class="mb-3">
        <label for="Title" class="form-label">Title</label>
        <input type="text" name="Title" class="form-control" id="Title">
    </div>
    <div class="mb-3">
        <label for="Description" class="form-label">Description</label>
        <input type="text" name="Description" class="form-control" id="Description">
    </div>
    <div class="mb-3">
        <label for="Deadline" class="form-label">Deadline</label>
        <input type="datetime-local" name="Deadline" class="form-control" id="Deadline">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>











<div id="successMessage" class="alert alert-success" style="display: none;">
    To-Do item created successfully!
</div>


<script>
    document.addEventListener('DOMContentLoaded', function () {
        var form = document.querySelector('form');
        var successMessage = document.getElementById('successMessage');


        if (successMessage) {
            
            const urlParams = new URLSearchParams(window.location.search);
            if (urlParams.has('success') && urlParams.get('success') === 'true') {
                
                successMessage.style.display = 'block';

                
                setTimeout(function () {
                    successMessage.style.display = 'none';
                }, 5000); 
            }
        }
    });
</script>
